---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import AboutUs from '../components/aboutUs.astro';
import OurWork from '../components/ourWork.astro';
import Connections from '../components/connections.astro';
import Net from '../components/InteractiveNet.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<NavBar />
     <Hero>
    <div id="banner">
      <h1>Bugnet</h1>
      <h3>From larva to launch, we've got you covered!</h3>
    </div>
 	 </Hero>
	<div id="trustStrip">
		<h1> Trust Strip here! </h1>
	</div>
	 <AboutUs>
	<div id="aboutus">
	</div>
	</AboutUs>

	<OurWork>
	<div id="ourworkbanner">
	</div>
	</OurWork>

	<Connections>
	<div id="connections">
	</div>
	</Connections>
	
</Layout>
