<div class="connections">
        <h1>Connect with Us! </h1>
</div>

<style>
    .connections {
        padding: 2rem 4rem 4rem;
        position: relative;
        overflow: hidden;
        min-height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Quicksand', sans-serif;  
        color: #000000;
        justify-content: center;
        text-align: left;
    }
</style>
